{% extends "base.html" %}

{% block content %}
    <h1>Hi, {{ current_user.username }}!</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p align="center">
            {{ form.title.label }}<br>
            {{ form.title(size=32) }}<br>
            {% for error in form.title.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p align="center">
            {{ form.isbn.label }}<br>
            {{ form.isbn(size=10) }}<br>
            {% for error in form.isbn.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p align="center">
            {{ form.author.label }}<br>
            {{ form.author(size=32) }}<br>
            {% for error in form.author.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p align="center">
            {{ form.grade.label }}<br>
            {{ form.grade }}<br>
            {% for error in form.grade.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p align="center">
            {{ form.subject.label }}<br>
            {{ form.subject }}<br>
            {% for error in form.subject.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p align="center">
            {{ form.examboard.label }}<br>
            {{ form.examboard }}<br>
            {% for error in form.author.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p align="center">
            {{ form.publisher.label }}<br>
            {{ form.publisher(size=32) }}<br>
            {% for error in form.publisher.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p align="center">{{ form.submit() }}</p>
    </form>
{% endblock %}