{% extends "base.html" %}

{% block app_content %}
<title>Home</title>
    <div class="container">
    <h2 align="center">Welcome to NEA Book Depository</h2>
    <br>
    <h4 align="center">This site has been setup to encourage reuse of school books. </h4>
    <br>
    <br>
    <p><strong>We are available at the following locations:</strong></p>
    {% for rows in outputData %}
        <ul id="rows.branch_id" align="center">
          <li>
              <span class="field-name">Name:</span>
              <span class="field-value">{{ rows.branch_name }}</span>
          </li>
        <li>
              <span class="field-name">Address:</span>
              <span class="field-value">{{ rows.address }}</span>
              <span class="field-value">,</span>
              <span class="field-value">{{ rows.city }}</span>
          </li>
          <li>
              <span class="field-name">Contact details:</span>
              <span class="field-value">{{ rows.phone_number }}</span>
              <span class="field-value">,</span>
              <span class="field-value">{{ rows.email }}</span>
          </li>
        </ul>
    {% endfor %}
    <br>
    <br>
    {% if current_user.is_anonymous %}
    <p align="center"><strong>Please login to use the site.</strong></p>
    {% endif %}
{% endblock %}