{% extends "base.html" %}

{% block app_content %}
<title>Home</title>
    <div class="container">
    <h2 align="center">Welcome to the Berkshire Book Bank</h2>
    <h5 align="center">A site to encourage the reuse of school books</h5>
    <br>
    <p><strong>We are available at the following locations across Berkshire:</strong></p>
    <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Address</th>
                        <th>Contact Details</th>
                    <tr>
                </thead>
                <tbody>
                    {% for rows in outputData %}
                    <tr id="{{rows.id}}">
                    <td>{{ rows.branch_name }}</td>
                    <td>{{ rows.address }}, {{ rows.city }}</td>
                    <td>{{ rows.phone_number }}, {{ rows.email }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
    <br>
    <p><strong>Here are some books people are interested in borrowing. Please consider donating if you have them.</strong></p>
    <table class="table">
                <thead>
                    <tr>
                        <th>ISBN</th>
                        <th>Title</th>
                        <th>Author</th>
                    <tr>
                </thead>
                <tbody>
                    {% for book in wishlistData %}
                    <tr id="{{book.book_item_id}}">
                        <td>{{ book.isbn }}</td>
                        <td>{{ book.title }}</td>
                        <td>{{ book.author }}</td>
                    </tr>
                    {% else %}
                        <tr><em>Wow, no wishlist</em></tr>
                    {% endfor %}
                </tbody>
            </table>
    {% if current_user.is_anonymous %}
    <p align="center">Please <strong>LOGIN</strong> to use the site.</p>
    {% endif %}
{% endblock %}