{% extends "base.html" %}
<!---->
{% block content %}
<!--HTML Log-in page script-->
<title>Login</title>
    <div class="container">
    <h2 align="center">Sign In</h2>
    <br>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p align="center">
            <!--Creates textbox to input username-->
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}<br>
            {% for error in form.username.errors %}
            <!--loads error message, adding a red colour to the text-->
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p align="center">
            <!--Creates textbox to input username-->
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}<br>
            {% for error in form.password.errors %}
            <!--loads error message, adding a red colour to the text-->
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <!--adds other links to the Log-in webpage-->
        <p align="center">{{ form.remember_me() }} {{ form.remember_me.label }}</p>
        <p align="center">{{ form.submit() }}</p>
        <p align="center">New User? <a href="{{ url_for('register') }}">Click to Register!</a></p>
        <p align="center">Forgot Your Password? <a href="{{ url_for('reset_password_request') }}">Click to Reset It</a></p>
    </form>
    </div>
{% endblock %}
