{% extends "base.html" %}

{% block app_content %}
<title>Manage Transaction</title>
    <div class="container">
    <h2 align="center">Manage Transaction</h2>
    <br>
    <p align="center">Please enter the transaction id to fetch details</p>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p align="center">
            {{ form.transactionid.label }}<br>
            {{ form.transactionid(size=5) }}<br>
            {% for error in form.transactionid.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p align="center">{{ form.submit() }}</p>
        </form>
    </div>
{% endblock %}