{% extends "base.html" %}

{% block app_content %}
<title>Donate</title>
    <div class="container">
    <br>
    <p align="left"><strong>Hi {{ current_user.username }}, Please select from the below search result</strong></p>
    <form action="" method="post" novalidate>
            <table class="table">
                <thead>
                    <tr>
                        <th>ISBN</th>
                        <th>Title</th>
                        <th>Author</th>
                        <th>Status</th>
                        <th>Branch</th>
                        <th>City</th>
                        <th>Choose</th>
                    <tr>
                </thead>
                <tbody>
                    {% for book in outputData %}
                    <tr>
                        <td>{{ book.isbn }}</td>
                        <td>{{ book.title }}</td>
                        <td>{{ book.author }}</td>
                        <td>{{ book.status }}</td>
                        <td>{{ book.branch_name }}</td>
                        <td>{{ book.city }}</td>
                        {% if book.status == "A" %}
                        <td><input type="radio" name="options" id="{{book.book_item_id}}" value="{{book.book_item_id}}"> Select </input></td>
                        {% else %}
                        <td>Book not available for reservation</td>
                        {% endif %}
                    </tr>
                    {% else %}
                        <tr><em>No books found. Please search again</em></tr>
                    {% endfor %}
                </tbody>
            </table>
        <br>
        <p align="center">{{ form.submit() }}</p>
    </form>
    </div>
{% endblock %}