{% extends "base.html" %}

{% block content %}
    <h2 align="center">Reset Your Password</h2>
    <br>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <!--Form for entering user password-->
        <p align="center">
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}<br>
            {% for error in form.password.errors %}
            <!--Error message for invalid password-->
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <!--Form for entering user password again to confirm-->
        <p align="center">
            {{ form.password2.label }}<br>
            {{ form.password2(size=32) }}<br>
            {% for error in form.password2.errors %}
            <!--Error message if passwords don't match-->
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p align="center">{{ form.submit() }}</p>
    </form>
{% endblock %}