{% extends "base.html" %}

{% block content %}
        <div class="container">
        <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
            <h2 align="center">Fetch Details for Donation</h2>
    <br>
    <p align="center">Hi {{ current_user.username }}, did you know you are about to do 
    your good deed of the day? ;)</p>
    <br>
    <br>
    <p align="center">To donate, first enter the 13 or 10 digit ISBN<sup>*</sup> of the book, without spaces or hyphens. On the next page, you can add the 
    rest of the details.</p>
    <br>
    <p align="center">You can find the ISBN within the book (back cover or in the first few pages), or search the book on Amazon.</p>

        <p align="center">
            {{ form.isbn.label }}<br>
            {{ form.isbn(size=13) }}<br>
            {% for error in form.isbn.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p align="center">{{ form.submit() }}</p>
            </form>
            <br>
        <p><span style="color: red;"><sup>*</sup>ISBN is listed in the book. It can also found from Amazon site</span></p>
    </div>
{% endblock %}