{% extends "base.html" %}

{% block app_content %}
<title>Donate</title>
    <div class="container">
    <br>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p><strong>This page can be used to search for the books in the repository. We recommend that you search by ISBN (without hashes or space)</strong></p>
        <p align="left">
            {{ form.isbn.label }}<br>
            {{ form.isbn(size=15) }}<br>
            {% for error in form.isbn.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <br>
        <p><i>Use the below fields if you dont know the ISBN or if you want more generic search</i></p>
        <p align="left">
            {{ form.title.label }}<br>
            {{ form.title(size=60) }}<br>
            {% for error in form.title.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p align="left">
            {{ form.author.label }}<br>
            {{ form.author(size=32) }}<br>
            {% for error in form.author.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p align="left">
            {{ form.publisher.label }}<br>
            {{ form.publisher(size=32) }}<br>
            {% for error in form.publisher.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <br>
        <p align="left">
            {{ form.grade.label }}
            {{ form.grade }}
            {% for error in form.grade.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}

            {{ form.subject.label }}
            {{ form.subject }}
            {% for error in form.subject.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}

            {{ form.examboard.label }}
            {{ form.examboard }}
            {% for error in form.examboard.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}

            {{ form.location.label }}
            {{ form.location }}
            {% for error in form.location.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}

            {{ form.condition.label }}
            {{ form.condition }}
            {% for error in form.condition.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        <br>
        </p>
        <br>
        
        <p align="center">{{ form.submit() }}</p>
    </form>
    </div>
{% endblock %}